/* Estilização do header do dashboard */
.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 0px;

    .dashboard-header__search-form {
        width: fit-content;
        display: flex;
        align-items: center;
    }
}