/* Estilização do header do dashboard */
.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 0px;

}

.dashboard-header__search-form {
    width: fit-content;
    display: flex;
    align-items: center;
}

.dashboard-header--mobile,
.dashboard-header__search-container--mobile {
    display: none;
}

@media screen and (max-width: 768px) {
    .dashboard-header--desktop {
        display: none;
    }

    .dashboard-header--mobile {
        display: flex;
        align-items: center;
        box-shadow: 
        0px 1px 2px 0px rgba(0,0,0, 0.30),
        0px 2px 6px 0px rgba(0,0,0, 0.15);
        padding: 7px 15px;

        .dashboard-header__actions-row {
            gap: 10px;
        }
    }

    .dashboard-header__search-container--mobile {
        display: flex;
        max-width: 100%;
        align-items: start;
        gap: 10px;
        margin-top: 13px;
        margin-bottom: 20px;

        .dashboard-header__search-form {
            width: 100%;
            display: flex;
            align-items: center;
        }
    }
}