/* Estilos relacionados a autenticação: Cadastro e Login de usuários */

body{
    padding-top: 69px;
    padding-bottom: 69px;
}


.login-container{
    .login-container__logo-box{
        width: fit-content;
        height: fit-content;
    }
    
    .login-container__input{
        border: 2px solid var(--slighterBlue);
    }
    .login-container__form{
        width: 483px;
        max-width: 100%;
        *{
            width: 100%;
        }
    }
    .login-container__login-btn{
        font-size: 24px;
        color: #fff;
        font-weight: 600;
        background-color: var(--orange);
    }
    .login-container__hr{
        border-color: var(--slighterBlue);
        height: 1px;
    }

    .login-container__title{
        color: var(--blue);
    }

    .login-container__forgot-password{
        display: flex;
        justify-content: end;
    }
}

@media screen and (max-width: 470px) and (orientation: portrait){
    body{
        padding: 16px;
    }
}