
/* Estilos relacionados a formulários */
.input-box{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.input{
    outline: none;
    border: none;
    border-radius: 15px;
    padding: 8px;
}

.form{
    gap: 50px;
}



.login-container{
    .login-container__logo-box{
        width: fit-content;
        height: fit-content;
    }
    
    .login-container__input{
        border: 2px solid var(--slighterBlue);
    }
    .login-container__form{
        width: 483px;
        *{
            width: 100%;
        }
    }
    .login-container__login-btn{
        font-size: 24px;
        color: #fff;
        font-weight: 600;
        background-color: var(--orange);
    }
}

