
/* Estilos relacionados a formulários */
.input-box{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.input{
    outline: none;
    border: none;
    border-radius: 15px;
    padding: 8px;
}

.form, .form--auth{
    gap: 50px;
}
