@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --orange: #FCB986;
    /* --blue: ; */
}

/* Estilos Gerais: */
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn{
    padding: 0;
    outline: none;
    border: none;
    padding: 8px;
    cursor: pointer;
    border-radius: 15px;

}

.input-box{
    display: flex;
    flex-direction: column;
    gap: 4px;
}


/* Altura e Largura */
.min-h-100vh{
    min-height: 100vh,

}

/* Espaçamentos */
.g-1rem{
    gap: 1rem;
    
}

/* Fontes */

/* .font- */

