@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --orange: #FCB986;
    --slighterBlue: #99A1FF;
    --lightBlue: #D6E5FC;
    --lightBlue86: rgb(214, 229, 252, 0.86);
    --blue: #576EFF;
}

/* Estilos Gerais: */
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row{
    display: flex;
    justify-content: space-between;
}

.title{
    font-weight: 600;
    font-size: 24px;
    font-family: Montserrat;
}

.btn{
    padding: 0;
    outline: none;
    border: none;
    padding: 8px;
    cursor: pointer;
    border-radius: 15px;
    font-weight: 600;
    font-family: "Montserrat";
}

.list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem 0rem 1rem 2rem;
    border-radius: 15px;
}

.list--error{
    background-color: rgb(246, 103, 103);
    margin-top: 8px;
}

.item--error{
    color: white;
    font-size: 18px;
}

.jcc{
    justify-content: center;
}

.alc{
    align-items: center;
}

.jcs{
    justify-content: start;
}

.als{
    align-items: start;
}

/* Altura e Largura */
.min-h-100vh{
    min-height: 100vh,

}
/* Espaçamentos */
.g-1rem{
    gap: 1rem;
    
}

/* Fontes */

.f-montserrat{
    font-family: 'Montserrat';
}
.f-open-sans{
    font-family: 'Open Sans';
}

.bold{
    font-weight: 700;
}
