body {
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
}

/* Estilização do sidebar do dashboard*/
.dashboard-sidebar {
    /* background-color: ; */
    justify-content: start;
    padding: 14px 1rem;
    background-color: var(--lightBlue86);
    gap: 40px;
    position: fixed;
    min-height: 100dvh;
    border-radius: 15px;

    .dashboard-sidebar__logo-container {
        gap: 20px;
    }

    .dashboard-sidebar__hr {
        border-color: var(--orange);
        border-width: 3px;
        border-style: solid;
        width: 263px;
        border-radius: 15px;
    }

    .dashboard-sidebar__menu {
        max-width: 234px;
        width: 100%;

        .dashboard-sidebar__list {
            list-style-type: none;
            justify-content: center;
            padding: 0;
            width: 100%;

            .dashboard-sidebar__link {
                width: 100%;
                background-color: var(--orange);
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 7.5px;
                border-radius: 15px;

                .dashboard-sidebar__item {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 4px;

                    .dashboard-sidebar__item-text {
                        color: white;
                    }

                    .dashboard-sidebar__item-icon {
                        width: 32px;
                        height: 32px;

                    }
                }
            }

            .dashboard-sidebar__link--active {
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
        }
    }

    .dashboard-sidebar__settings-container {
        position: absolute;
        background-color: var(--orange);
        padding: 11px;
        width: fit-content;
        height: fit-content;
        bottom: 24px;
        right: 24px;
        border-radius: 100%;
        cursor: pointer;
    }
}

.content {
    margin-left: 298px;
    flex-grow: 1;
    padding: 0rem 36px;
    margin-bottom: 1rem;
}

/* Estilização do header do dashboard */
.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 0px;

    .dashboard-header__search-form {
        width: fit-content;
        display: flex;
        align-items: center;
    }
}

.icon--profile, .person {
    border-radius: 100%;
}

.input--search {
    width: 451px;
    height: 42px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: none;
    outline: none;
    padding: 10px;
    border-left: 2px solid var(--blue);
    border-top: 2px solid var(--blue);
    border-bottom: 2px solid var(--blue);
}

.input--search::placeholder {
    opacity: 80%;
    font-family: "open sans";
}

.btn--search {
    padding: 0;
    border-radius: 0px;
    width: 70px;
    height: 44px;
    background-color: var(--blue);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.main {
    width: 100%;
}

/* Estilização relativo a vagas */
.vacancies-container {
    min-width: 400px;
    width: fit-content;
    margin-right: 24px;
    justify-content: start;
    height: 100dvh;
    overflow-y: scroll;
    border-radius: 15px;
    border-bottom: 3px solid var(--blue);
    border-top: 3px solid var(--blue);

    .vacancy:nth-child(n+2){
        margin-top: -3px;
    }
}

.vacancy {
    padding: 22px 12px;
    border-radius: 15px;
    box-shadow: 0px 0px 0px 3px inset var(--blue);
    width: 400px;
    gap: 0.7rem;

    .vacancy__info-container {
        width: 100%;
        gap: 14px;

        .vacancy__info-header {
            gap: 14px;

            .vacancy__info-title-container {
                background-color: var(--orange);
                color: white;
                padding: 5px;
            }
        }

        .vacancy__info-content {
            width: 100%;
            justify-content: start;
            align-items: start;
            gap: 1rem;

            .vacancy__info-company {
                text-decoration: underline;

            }

            .vacancy__info-general {
                display: inline-flex;
                flex-wrap: wrap;
                justify-content: start;
                gap: 5px;
                width: 100%;
                font-size: 12px;

                .vacancy__info-text {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                }

                .vacancy__info-text::after {
                    display: inline-flex;
                    content: '';
                    background-color: var(--orange);
                    border-radius: 100%;
                    width: 5px;
                    height: 5px;
                }

                .vacancy__info-text:last-of-type::after {
                    display: none;
                }
            }
        }
    }

    .vacancy__actions{
        width: 100%;
        .vacancy__btn{
            background: var(--blue);
            color: white;
        }

        .vacancy__btn-actions{
            gap: 5px;
            .vacancy__btn-action{
                cursor:pointer;
            }
        }
    }
    .vacancy__skills{
        font-size: 14px;
    }
}

.vacancy--selected {
    width: 100%;
    justify-content: start;
    height: 100dvh;
    overflow-y: scroll;
    z-index: 1000;
    .vacancy__info-header{
        width: 100%;
        gap: 17px;
        .vacancy__info-title-container{
            width: 100%;
        }
    }

    .vacancy__info-text{
        font-size: 1rem;
    }

    .vacancy__info-recruiter-row{
        width: 100%;
        align-items: center;
        gap: 17px;
    }

    .vacancy__btn{
        font-size: 20px;
    }

    .vacancy__description-container{
        align-items: start;
        
    }
}