body {
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
}

.content {
    margin-left: 298px;
    flex-grow: 1;
    padding: 0rem 36px;
    margin-bottom: 1rem;
}

.icon--profile, .person {
    border-radius: 100%;
}

.main {
    width: 100%;
}

/* Estilização relativo a vagas */
.vacancies-container {
    min-width: 400px;
    width: fit-content;
    margin-right: 24px;
    justify-content: start;
    height: 100dvh;
    overflow-y: scroll;
    border-radius: 15px;
    border-bottom: 3px solid var(--blue);
    border-top: 3px solid var(--blue);

    .vacancy:nth-child(n+2){
        margin-top: -3px;
    }
}

.vacancy {
    padding: 22px 12px;
    border-radius: 15px;
    box-shadow: 0px 0px 0px 3px inset var(--blue);
    width: 400px;
    gap: 0.7rem;

    .vacancy__info-container {
        width: 100%;
        gap: 14px;

        .vacancy__info-header {
            gap: 14px;

            .vacancy__info-title-container {
                background-color: var(--orange);
                color: white;
                padding: 5px;
            }
        }

        .vacancy__info-content {
            width: 100%;
            justify-content: start;
            align-items: start;
            gap: 1rem;

            .vacancy__info-company {
                text-decoration: underline;

            }

            .vacancy__info-general {
                display: inline-flex;
                flex-wrap: wrap;
                justify-content: start;
                gap: 5px;
                width: 100%;
                font-size: 12px;

                .vacancy__info-text {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                }

                .vacancy__info-text::after {
                    display: inline-flex;
                    content: '';
                    background-color: var(--orange);
                    border-radius: 100%;
                    width: 5px;
                    height: 5px;
                }

                .vacancy__info-text:last-of-type::after {
                    display: none;
                }
            }
        }
    }

    .vacancy__actions{
        width: 100%;
        .vacancy__btn{
            background: var(--blue);
            color: white;
        }

        .vacancy__btn-actions{
            gap: 5px;
            .vacancy__btn-action{
                cursor:pointer;
            }
        }
    }
    .vacancy__skills{
        font-size: 14px;
    }
}

.vacancy--selected {
    width: 100%;
    justify-content: start;
    height: 100dvh;
    overflow-y: scroll;
    z-index: 1000;
    .vacancy__info-header{
        width: 100%;
        gap: 17px;
        .vacancy__info-title-container{
            width: 100%;
        }
    }

    .vacancy__info-text{
        font-size: 1rem;
    }

    .vacancy__info-recruiter-row{
        width: 100%;
        align-items: center;
        gap: 17px;
    }

    .vacancy__btn{
        font-size: 20px;
    }

    .vacancy__description-container{
        align-items: start;
        
    }
}