/* Estilos relacionados a autenticação: Cadastro e Login de usuários */

.auth{
    width: 100%;
    height: 100vh;

    .auth__inputs-container{
        align-items: start;
        gap: 24px;
        *{
            width: 100%;
        }
    }
    .auth__logo-box{
        width: fit-content;
        height: fit-content;
    }
    
    .auth__input{
        border: 2px solid var(--slighterBlue);
    }
    .register__form{
        width: 524px;
        max-width: 100%;
    }
    .login__form{
        width: 483px;
        max-width: 100%;
        *{
            width: 100%;
        }
    }
    .auth__submit-btn{
        font-size: 24px;
        color: #fff;
        background-color: var(--orange);
    }
    .auth__hr{
        border-color: var(--slighterBlue);
        height: 1px;
    }

    .auth__title{
        color: var(--blue);
    }

    .login__forgot-password{
        display: flex;
        justify-content: end;
    }
}

@media screen and (max-width: 746px) and (orientation: portrait){
    .register{
        padding: 16px;
    }
}