/* Estilos relacionados a autenticação: Cadastro e Login de usuários */

.auth {
    width: 100%;
    height: 100vh;

    .auth__inputs-container {
        align-items: start;
        gap: 24px;

        * {
            width: 100%;
        }
    }

    .auth__logo-box {
        width: fit-content;
        height: fit-content;
    }

    .auth__input {
        border: 2px solid var(--slighterBlue);
    }

    .auth__select{
        background-color: var(--slighterBlue);
        color: white;
        font-size: 18px;
    }

    .register__form {
        width: 524px;
        max-width: 100%;
    }

    .login__form {
        width: 483px;
        max-width: 100%;

        * {
            width: 100%;
        }
    }

    .auth__button {
        color: #fff;
    }

    .auth__button--submit,
    .auth__button--next {
        background-color: var(--orange);
        font-size: 18px;

    }

    .auth__button--previous {
        background-color: var(--slighterBlue);
        font-size: 18px;
    }

    .login__button--submit {
        background-color: var(--orange);
        font-size: 24px;
    }

    .auth__hr {
        border-color: var(--slighterBlue);
        height: 1px;
        width: 100%;

    }

    .auth__title {
        color: var(--blue);
    }

    .register__title{
        place-self: start;
        width: 100%;
    }

    .login__forgot-password {
        display: flex;
        justify-content: end;
    }
}

.register{
    width: fit-content;
    place-self: center;
    gap: 1rem;
}

@media screen and (max-width: 746px) and (orientation: portrait) {
    .register {
        padding: 16px;
    }
}